mocks/silverlight/SilverLightMock/SampleData/ComboBoxData/ComboBoxData.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" xmlns:tns="Expression.Blend.SampleData.ComboBoxData" targetNamespace="Expression.Blend.SampleData.ComboBoxData" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ComboBoxData" type="tns:ComboBoxData" />
  <xs:complexType name="ComboBoxData">
    <xs:sequence>
      <xs:element name="Collection" type="tns:ItemCollection" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ItemCollection">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="Item" type="tns:Item" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Item">
    <xs:attribute name="name" type="xs:string" />
  </xs:complexType>
</xs:schema>